.buttonContainer {
    $size : 48px;
    $imageSize: 26px;
    position: relative;
    height: $size;
    width: $size;
    border-radius: 100%;
    transition: all 0.2s;
    background-color: white;
  
    &:active {
      transform: translateY(2px);
    }
  
    .button {
      position: absolute;
      top: 1px;
      left: 2px;
      right: 2px;
      bottom: 4px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 16px;

      img {
        width: $imageSize;
        height: $imageSize;
        object-fit: cover;
      }
    }
  }
  