@mixin absolute-center($direction: "horizontal", $position: absolute) {
    position: $position;
    @if $direction == "horizontal" {
      left: 50%;
      transform: translateX(-50%);
    }
    @if $direction == "vertical" {
      top: 50%;
      transform: translateY(-50%);
    }
    @if $direction == "both" {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin vertical-flex {
    display: flex;
    flex-direction: column;
  }
  
  @mixin text-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }