.contentContainer {
}

.card {
}

.button{
}

.button__title {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.button__icon {
    color: var(--gray);
    font-size: 14px;
}

.button__divider {
    border-top: 1px solid;
    border-color: var(--gray-w);
    margin: 0 10px;
}
