.toolbar {
  --padding-top: 58px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  --padding-end: 16px !important;
  --padding-start: 16px !important;

  &__navigate {
    gap: 10px;
    font-size: 14px;
    font-weight: 300;

    ion-icon {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .searchBar {
    --background: white;
    --placeholder-color: var(--gray);
    --icon-color: var(--gray);
    margin-top: 24px;

    input {
        font-size: 14px;
    }
  }
}

.content {
  --padding-start: 12px;
  --padding-end: 12px;
  --background: #F7F7F8;

  .grid {
    
  }

  .noItemBlock {
    text-align: center;
    width: 100%;
    font-weight: 600;
  }
}
