.loadingOverlay {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
  
    ion-spinner {
      width: 70px;
      height: 70px;
    }
  }